/* estilosform.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #b76e79; /* Oro rosa */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 50px;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #f4c2c2; /* Oro rosa más claro */
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #b76e79; /* Oro rosa */
    margin-bottom: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .formGroup input:focus,
  .formGroup textarea:focus {
    border-color: #b76e79; /* Oro rosa */
    outline: none;
  }
  
  button {
    background-color: #b76e79; /* Oro rosa */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #a35763; /* Oro rosa más oscuro */
  }
  
  .error {
    color: #ff4d4d;
    margin-top: 10px;
    text-align: center;
  }
  
  .success {
    color: #4caf50;
    margin-top: 10px;
    text-align: center;
  }
  